<form action="/api/user/signup" method="post">
  <div>
      <label>Логин:</label>
      <input type="text" name="username" /><br />
  </div>
  <div>
      <label>Пароль:</label>
      <input type="password" name="password" />
  </div>
  <div>
    <label>Отображаемое имя:</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label>Email:</label>
    <input type="email" name="email" />
  </div>
  <div>
      <input type="submit" value="Зарегистрироваться" />
  </div>
</form>
<p>
    Уже есть учетная запись? <a href="/api/user/login">Войти</a>
</p>